.tengah {
    margin: 5px;
}

.profile-picture {
    text-align: center;
}

.about-me {
    margin-left: 20%;
    margin-right: 20%;
}

.picture {
    text-align: center;
    border: solid 1px black;
    margin: 10px;
}

.picture img {
    width: 300px;
}

.container-picture {
    display: flex;
    justify-content: center;
}

.logo {
    color: black;
    text-align: center;
}


